.header-container {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.links-container {
  width: 100%;
}

h1 {
  text-align: center;
  color: black;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  // background-color: #94939d;
  background-color: #5C5C5C;
  box-shadow: 5px 5px 10px #888888;
  height: 2rem;
  align-items: center;
}

// a {
//   text-decoration: none;
//   font-size: 120%;
//   color: white;
//   cursor: pointer;
// }

// a:hover {
//   color: rgb(177, 219, 238);
//   border-top: 10px solid #fff;
// }

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: width 0.3s;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.active-link {
  // color: rgb(219, 234, 241);
  color: #BAD9E8;
  // border-top: 11.5px solid #fff;
}

@media screen and (max-width: 428px) {
  a {
    font-size: 80%;
  }

  .header-container {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  a {
    font-size: 70%;
  }
}
