.header-container{
  display: flex;
  justify-content:space-between;
  // background-color: #718de0;
  height: 10rem;
}




.links-container{
  width: 100%;
}



h1{
  text-align: center;
  color: black;
}


.links{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-color: #94939D;
  height: 2rem;
  align-items: center;
}



a {
  text-decoration: none;
  font-size: 120%;
  // font-weight: bold;
  color: white;
  cursor: pointer;
}


a:hover{
  color: red;
}

@media screen and (max-width: 428px){
  a {
    font-size: 80%;
  }
.header-container{
  display: none;
}

}

@media screen and (max-width: 375px){
  a{
    font-size: 70%;
  }
}
