.header-container {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.links-container {
  width: 100%;
}

h1 {
  text-align: center;
  color: black;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-color: #94939d;
  box-shadow: 5px 5px 10px #888888;
  height: 2rem;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 120%;
  color: white;
  cursor: pointer;
}

a:hover {
  color: rgb(0, 174, 255);
  border-top: 10px solid #fff;
}

.active-link {
  color: rgb(0, 174, 255);
  border-top: 10px solid #fff;
}

@media screen and (max-width: 428px) {
  a {
    font-size: 80%;
  }

  .header-container {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  a {
    font-size: 70%;
  }
}
