<div class="header-container">
  <div class="links-container">
    <div class="links">
      <a [routerLink]="['/']" [ngClass]="{ 'active-link': isLinkActive('/') }"
        >Accueil</a
      >
      <a
        [routerLink]="['/armory']"
        [ngClass]="{ 'active-link': isLinkActive('/armory') }"
        >Armureries</a
      >
      <a
        [routerLink]="['/link']"
        [ngClass]="{ 'active-link': isLinkActive('/link') }"
        >Liens</a
      >
      <a
        [routerLink]="['/gallery']"
        [ngClass]="{ 'active-link': isLinkActive('/gallery') }"
        >Gallerie</a
      >
      <a
        [routerLink]="['/frame']"
        [ngClass]="{ 'active-link': isLinkActive('/frame') }"
        >Bétisier</a
      >
      <a
        [routerLink]="['/door']"
        [ngClass]="{ 'active-link': isLinkActive('/door') }"
        >En travaux</a
      >
    </div>
  </div>
</div>
