<div class="header-container">
  <div class="links-container">
    <div class="links">
      <a [routerLink]="['/']" [ngClass]="{ 'active-link': isLinkActive('/') }"
        >Accueil</a
      >

      <a
      [routerLink]="['/news']"
      [ngClass]="{ 'active-link': isLinkActive('/news') }"
      >News</a>
      <a
        [routerLink]="['/armory']"
        [ngClass]="{ 'active-link': isLinkActive('/armory') }"
        >Armureries</a
      >
      <a
        [routerLink]="['/link']"
        [ngClass]="{ 'active-link': isLinkActive('/link') }"
        >Liens</a
      >
      <a
        [routerLink]="['/tuto']"
        [ngClass]="{ 'active-link': isLinkActive('/tuto') }"
        >Tuto</a
      >

      <a
      [routerLink]="['/balistique']"
      [ngClass]="{ 'active-link': isLinkActive('/balistique') }"
      >Balistique</a
    >

      <a
        [routerLink]="['/gallery']"
        [ngClass]="{ 'active-link': isLinkActive('/gallery') }"
        >Galerie</a
      >
      <!-- <a
        [routerLink]="['/frame']"
        [ngClass]="{ 'active-link': isLinkActive('/frame') }"
        >Bétisier</a
      > -->
      <a
        [routerLink]="['/contact']"
        [ngClass]="{ 'active-link': isLinkActive('/contact') }"
        >Contact</a
      >

      <a
      href="https://tdlb.forumotion.com/"
      >Forum</a
    >

      <a
        href="https://drive.google.com/drive/folders/1D_Zv4CUtIG7B9ptYMsDsO6ied4BjR0M5"
        >Accès privé</a
      >
    </div>
  </div>
</div>
