<h1>Tuto</h1>
<p>
  Attention, le non respect des règles de la FFTIR peut conduire à la radiation
</p>
<div class="container">
  <div class="frame">
    <!--debuter le tir-->
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/qku0th4BunE?si=7tTT3FVkz6JEoOZn"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <!--fonctionnement arme-->
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/KnWxeyEU9-Q?si=HCiTGoMWsdklTIp5"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/hBPkh7S6I9c?si=oosClpld2x-5kdwH"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/V2RDitgCaD0?si=71a7FL8iqky3ntC1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/1s4plUZGj4w?si=D7N_wNJ-7WOyKPvI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/21uh28Z77Xg?si=SoXgsQSAb_qs_wzn"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <!--rechargement-->

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/7XmC3vZKHr4?si=3SJ7x595faREMvxE"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/-QsEIuWXUUc?si=owvH9i-y7m4t_hd4"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/VmTKdylCiyY?si=08IiJ6Cees2tRBIK"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <!--poudre noire-->

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/9uDblCKkUXQ?si=xscjzX30wTAXJGWC"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <!--lunette-->
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/BuB3wuixMQ0?si=CtE24igP1590hgvl"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/eST9KdkewTY?si=fJ5Vt3boPq56X75h"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <!-- Coup de doigt -->
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/gY3bCeHyKdw?si=lmheyXfp39xmjnSE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <!-- recul arme -->
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/cMbzYakpBdY?si=BkUxDUJ6Csk-MScU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/acxHRJiek24?si=Bx-jCIBpj8sCMIFy"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <!-- nettoyage arme demontage -->
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/UUXLGkwAiA4?si=b7L1yaygQniDeKwA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/8gQXrhy6T7o?si=B4UmoKMtTLthA-eR"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/feDCsMafcLY?si=vGE93zpuuXH7At75"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/tjr9l0GJ7D8?si=zqObI2T7GJCwy3By"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Rwrb3zJ7ZJY?si=35S_MWLwOzKXMLYq"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/_yapohBCncg?si=9FecmbT8xrV5FSkr"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/QTCwe1pUD54?si=TMVE51B55ofPwR7D"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <!-- arbalete et arc -->
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/pvPe21jDt1Y?si=re8gLknRAQRpAjvh"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>

<footer>
  <!-- <img src="https://knightparabellum.000webhostapp.com/img/footer.png" alt="footer" style="width: 100%;"> -->
  <img
    src="https://knightparabellum.000webhostapp.com/img/footer5.png"
    alt="footer"
    style="width: 100%"
  />
</footer>
