<h1>Bétisier</h1>
<p>
  Attention, le non respect des règles de la FFTIR peut conduire à la radiation
</p>
<div class="container">
  
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/PDu13qihmXI?si=684LEmfm7zu4nvlc"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/t-CV-7cc4IM?si=G-mFsPrH1pePtm-u"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/wlHyGVg8lIA?si=KWO2iETPFazL1A1D"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/8JHIj9jY4Ew?si=ePhNBPsdZ2W_FYaq"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>

<footer>
  <!-- <img src="https://knightparabellum.000webhostapp.com/img/footer.png" alt="footer" style="width: 100%;"> -->
  <img
    src="https://knightparabellum.000webhostapp.com/img/footer5.png"
    alt="footer"
    style="width: 100%"
  />
</footer>
