<app-banner></app-banner>
<app-header></app-header>
<app-burger-menu></app-burger-menu>

<h1>Bétisier</h1>
<p>
  Attention, le non respect des règles de la FFTIR peut conduire à la radiation
</p>
<div class="container">
  <div class="frame">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/PDu13qihmXI?si=684LEmfm7zu4nvlc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/t-CV-7cc4IM?si=G-mFsPrH1pePtm-u"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/muS21iGAfhk?si=2TvKFHntJ2gL3RuW"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/8JHIj9jY4Ew?si=ePhNBPsdZ2W_FYaq"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>

