<app-banner></app-banner>
<app-header></app-header>
<app-burger-menu></app-burger-menu>
<h1>
  Les liens
</h1>

<a href="https://www.fftir.org/" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Fédération Française de Tir</h2>
      <p>le respect de l’arme en tant que matériel sportif,</p>
      <p>
        une pratique exclusive sur des cibles excluant toute représentation
        humaine,
      </p>
      <p>l’interdiction absolue de viser quelqu’un</p>
      <p>
        le strict respect des règles et des comportements de sécurité édictés
        par la FFTir
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.fftir.org/logo-fftir.png"
        alt="Logo Fédération Française de tir"
        style="width: 10rem"
      />
    </div>
  </div>
</a>

<a href="https://eden.fftir.org/#/login" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>ESPACE DÉMATÉRIALISÉ ENREGISTREMENTS NATIONAL</h2>
      <p>
        adresse de courrier électronique support : fftir-support@alithya.com
      </p>
      <p>
        La Hotline téléphonique est disponible de 9h à 16h du lundi au vendredi
        : 01 89 21 15 16
      </p>
      <p>
        Pour ne pas surcharger la hotline pensez à privilégier le mail de
        support quand cela est possible.
      </p>
    </div>

    <div class="image">
      <img
        src="https://eden.fftir.org/assets/img/coq-FFTIR-2022.png"
        alt="Logo FFTir Eden"
        style="width: 10rem"
      />
    </div>
  </div>
</a>

<a href="https://www.armes-ufa.com/" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>UNION FRANCAISE DES AMATEURS D'ARMES - UFA</h2>
      <p>
        L'UFA défend les droits des amateurs d'armes de loisir et les informe
        sur la réglementation des armes. Créée en 1979, cela fait plus de 40 ans
        que l'UFA défend les tireurs sportifs, les chasseurs, les
        collectionneurs et les reconstitueurs. Retrouvez-nous sur
        https://www.armes-ufa.com !
      </p>
    </div>

    <div class="image">
      <img
        src="https://cdn.helloasso.com/img/logos/croppedimage-a09ff4ac03d14e8b9729e0729cbd6e7a.png?resize=fill:140:140"
        alt="Logo UFA"
        style="width: 10rem"
      />
    </div>
  </div>
</a>

<a href="https://www.chateau-montfleury.fr/" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Le plus important musée privé d’Europe</h2>
      <p>Château de Montfleury, votre musée forteresse à Avressieux</p>
    </div>

    <div class="image">
      <img
        src="https://www.chateau-montfleury.fr/images/logo.png"
        alt="Logo UFA"
        style="width: 10rem"
      />
    </div>
  </div>
</a>

