<p>contact works!</p>
<!-- <form id="contactform" action="https://formsubmit.io/send/knightparabellum@gmail.com" method="POST">
  <label for="name">Nom Prénom</label>
  <input name="name" type="text" id="name">
  <label for="email">E-mail</label>
  <input name="email" type="email" id="email" name >
  <label for="comment">Message</label>
  <textarea name="comment" id="comment" rows="3"></textarea>

  <input name="_formsubmit_id" type="text" style="display:none">

  <input value="Envoyer" type="submit">
</form> -->
<form id="contactform" action="https://formsubmit.io/send/knightparabellum@gmail.com" method="POST">
  <label for="name">Nom Prénom</label>
  <input name="name" type="text" id="name">
  <label for="email">E-mail</label>
  <input name="email" type="email" id="email">
  <label for="comment">Message</label>
  <textarea name="comment" id="comment" rows="3"></textarea>

  <input name="_formsubmit_id" type="text" style="display:none">

  <input value="Envoyer" type="submit">
</form>
