<div class="container">
  <div>
    <label for="grains">Grains:</label>
    <input type="number" id="grains" [(ngModel)]="grains" />
    <button class="button"  (click)="convertirEnGrammes()">Convertir en grammes</button>
  </div>

  <div>
    <label for="grammes">Grammes:</label>
    <input type="number" id="grammes" [(ngModel)]="grammes" />
    <button class="button"  (click)="convertirEnGrains()">Convertir en grains</button>
  </div>

  <div>
    <p>Résultat:</p>
    <p>{{ grains }} grains = {{ grammes }} grammes</p>
  </div>

  <div>
    <button class="reset"  (click)="reinitialiser()">Réinitialiser</button>
  </div>
</div>
<div>
  <app-click></app-click>
</div>

<div>
  <app-angle></app-angle>
</div>

<div>
  <app-target></app-target>
</div>

<footer>
  <!-- <img src="https://knightparabellum.000webhostapp.com/img/footer.png" alt="footer" style="width: 100%;"> -->
  <img
    src="https://knightparabellum.000webhostapp.com/img/footer5.png"
    alt="footer"
    style="width: 100%"
  />
</footer>
