.container {
  margin: 15vh auto;
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

div {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  width: 80px;
}

input {
  padding: 0.3rem;
}

.button {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

p {
  font-weight: bold;
}

/* bouton de réinitialisation */
.reset {
  background-color: #ff8c00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}


@media (max-width: 600px) {
  .container {
    width: 80%;
  }

div{
  text-align: center;
}
  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }

  button {
    margin-top: 5px;
  }
}
