<app-banner></app-banner>
<app-header></app-header>
<app-burger-menu></app-burger-menu>
<div>
  <h1>Humour et drôlerie du web</h1>
</div>
<div class="container">
  <div class="img">
    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185427.jpg" alt="1">

    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185438.jpg" alt="2">

    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185448.jpg" alt="3">

    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185525.jpg" alt="4">

    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185503.jpg" alt="5">

    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185531.jpg" alt="6">

    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185538.jpg" alt="7">

    <img src="https://childbearing-discip.000webhostapp.com/gallery/IMG_20231106_185542.jpg" alt="8">
  </div>
</div>
