<h1 id="top">Tuto</h1>
<p>
  Attention, le non respect des règles de la FFTIR peut conduire à la radiation
</p>
<div class="header">
  <nav class="menu-container">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <mat-select placeholder="Sélection" class="menu-select" disableRipple>
          <mat-option style="color: red;" (click)="navigateToTop()">Haut de page</mat-option>
          <mat-option (click)="navigateToFragment('section1')">SIA</mat-option>
          <mat-option (click)="navigateToFragment('section2')">Débuter le tir</mat-option>
          <mat-option (click)="navigateToFragment('section3')">Technique de tir</mat-option>
          <mat-option (click)="navigateToFragment('section4')">Réglage lunette</mat-option>
          <mat-option (click)="navigateToFragment('section5')">Fonction armes</mat-option>
          <mat-option (click)="navigateToFragment('section6')">Rechargement</mat-option>
          <mat-option (click)="navigateToFragment('section7')">Poudre noire</mat-option>
          <mat-option (click)="navigateToFragment('section8')">Entretien</mat-option>
          <mat-option (click)="navigateToFragment('section9')">Essais armes</mat-option>
          <mat-option (click)="navigateToFragment('section10')">Arbalète</mat-option>
        </mat-select>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</div>

<div class="container">
  <h2 id="section1">** SIA **</h2>
  <div class="frame">
    <!-- SIA -->
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/k4w5tGJMi8U?si=sY8ZVPokcUYRB-3Y" src="https://img.youtube.com/vi/k4w5tGJMi8U/0.jpg" alt="SIA Video 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/EF38opwmFtA?si=Sqf13b4OsALMqVuR" src="https://img.youtube.com/vi/EF38opwmFtA/0.jpg" alt="SIA Video 2">
  </div>

  <h2 id="section2">** Débuter le tir **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/5hy_8lJNcOQ?si=p2_jalltGwr8PPIo" src="https://img.youtube.com/vi/5hy_8lJNcOQ/0.jpg" alt="Débuter le tir 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/XNSLf0DBGlQ?si=L59HTOPdDvyvh0yy" src="https://img.youtube.com/vi/XNSLf0DBGlQ/0.jpg" alt="Débuter le tir 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/46mx4kWSuxM?si=kNzSExD9wO1-m-Eh" src="https://img.youtube.com/vi/46mx4kWSuxM/0.jpg" alt="Choisir plomb">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/LpTP7ACG5Io?si=dH77VavP9myPfRTR" src="https://img.youtube.com/vi/LpTP7ACG5Io/0.jpg" alt="Débuter PCP">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/rQfZhFQtvx4?si=Eald6-CNzVycNPOX" src="https://img.youtube.com/vi/rQfZhFQtvx4/0.jpg" alt="Erreurs débutants">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/7E0qEFTdM8Q?si=Ri9_m6LgWgAJNmLt" src="https://img.youtube.com/vi/7E0qEFTdM8Q/0.jpg" alt="Choisir son arme">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/qku0th4BunE?si=7tTT3FVkz6JEoOZn" src="https://img.youtube.com/vi/qku0th4BunE/0.jpg" alt="Acquérir armes AA">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/H7Sssa6vrNQ?si=R3jOFplIuVpEHIQ-" src="https://img.youtube.com/vi/H7Sssa6vrNQ/0.jpg" alt="Acquérir armes AA">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/pp6-G4HTXyk?si=mqjcpmBtT6GRthbe" src="https://img.youtube.com/vi/pp6-G4HTXyk/0.jpg" alt="Acquérir armes AA">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/2Olu6VV06TU?si=GZGsgb3kK77YUf6y" src="https://img.youtube.com/vi/2Olu6VV06TU/0.jpg" alt="Acquérir armes AA">
  </div>

  <h2 id="section3">** Technique pour le tir **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/gY3bCeHyKdw?si=lmheyXfp39xmjnSE" src="https://img.youtube.com/vi/gY3bCeHyKdw/0.jpg" alt="Coup de doigt">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/cMbzYakpBdY?si=BkUxDUJ6Csk-MScU" src="https://img.youtube.com/vi/cMbzYakpBdY/0.jpg" alt="Recul arme">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/acxHRJiek24?si=Bx-jCIBpj8sCMIFy" src="https://img.youtube.com/vi/acxHRJiek24/0.jpg" alt="Technique pour le tir">
  </div>

  <h2 id="section4">** Réglage lunette **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/7He3PBcmdSQ?si=7N4AU3d5qpX2Hko-" src="https://img.youtube.com/vi/7He3PBcmdSQ/0.jpg" alt="Réglage lunette 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/BuB3wuixMQ0?si=CtE24igP1590hgvl" src="https://img.youtube.com/vi/BuB3wuixMQ0/0.jpg" alt="Réglage lunette 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/eST9KdkewTY?si=fJ5Vt3boPq56X75h" src="https://img.youtube.com/vi/eST9KdkewTY/0.jpg" alt="Réglage lunette 3">
  </div>

  <h2 id="section5">** Fonctionnement des armes **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/KnWxeyEU9-Q?si=HCiTGoMWsdklTIp5" src="https://img.youtube.com/vi/KnWxeyEU9-Q/0.jpg" alt="Fonctionnement des armes 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/hBPkh7S6I9c?si=oosClpld2x-5kdwH" src="https://img.youtube.com/vi/hBPkh7S6I9c/0.jpg" alt="Fonctionnement des armes 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/V2RDitgCaD0?si=71a7FL8iqky3ntC1" src="https://img.youtube.com/vi/V2RDitgCaD0/0.jpg" alt="Fonctionnement des armes 3">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/1s4plUZGj4w?si=D7N_wNJ-7WOyKPvI" src="https://img.youtube.com/vi/1s4plUZGj4w/0.jpg" alt="Fonctionnement des armes 4">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/21uh28Z77Xg?si=SoXgsQSAb_qs_wzn" src="https://img.youtube.com/vi/21uh28Z77Xg/0.jpg" alt="Fonctionnement des armes 5">
  </div>

  <h2 id="section6">** Rechargement poudre "vive" **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/7XmC3vZKHr4?si=3SJ7x595faREMvxE" src="https://img.youtube.com/vi/7XmC3vZKHr4/0.jpg" alt="Rechargement poudre 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/-QsEIuWXUUc?si=owvH9i-y7m4t_hd4" src="https://img.youtube.com/vi/-QsEIuWXUUc/0.jpg" alt="Rechargement poudre 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/VmTKdylCiyY?si=08IiJ6Cees2tRBIK" src="https://img.youtube.com/vi/VmTKdylCiyY/0.jpg" alt="Rechargement poudre 3">
  </div>

  <h2 id="section7">** Poudre noire **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/o5zR_Zso76M?si=d5a05pxOCAT_9-uK" src="https://img.youtube.com/vi/o5zR_Zso76M/0.jpg" alt="Poudre noire 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/INm2kEJpiaQ?si=O5Rvvz7YPcY6PT4c" src="https://img.youtube.com/vi/INm2kEJpiaQ/0.jpg" alt="Poudre noire 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/9uDblCKkUXQ?si=xscjzX30wTAXJGWC" src="https://img.youtube.com/vi/9uDblCKkUXQ/0.jpg" alt="Poudre noire 3">
  </div>

  <h2 id="section8">** Entretien **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/UUXLGkwAiA4?si=b7L1yaygQniDeKwA" src="https://img.youtube.com/vi/UUXLGkwAiA4/0.jpg" alt="Entretien 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/8gQXrhy6T7o?si=B4UmoKMtTLthA-eR" src="https://img.youtube.com/vi/8gQXrhy6T7o/0.jpg" alt="Entretien 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/feDCsMafcLY?si=vGE93zpuuXH7At75" src="https://img.youtube.com/vi/feDCsMafcLY/0.jpg" alt="Entretien 3">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/tjr9l0GJ7D8?si=zqObI2T7GJCwy3By" src="https://img.youtube.com/vi/tjr9l0GJ7D8/0.jpg" alt="Entretien 4">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/Rwrb3zJ7ZJY?si=35S_MWLwOzKXMLYq" src="https://img.youtube.com/vi/Rwrb3zJ7ZJY/0.jpg" alt="Entretien 5">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/_yapohBCncg?si=9FecmbT8xrV5FSkr" src="https://img.youtube.com/vi/_yapohBCncg/0.jpg" alt="Entretien 6">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/QTCwe1pUD54?si=TMVE51B55ofPwR7D" src="https://img.youtube.com/vi/QTCwe1pUD54/0.jpg" alt="Entretien 7">
  </div>

  <h2 id="section9">** Essais d'armes **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/XGZPhq3D2J4?si=lol9tXeQzGaPyP4l" src="https://img.youtube.com/vi/XGZPhq3D2J4/0.jpg" alt="Essais d'armes 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/jx4No0utMs0?si=DFASxCBQnqWlWrHd" src="https://img.youtube.com/vi/jx4No0utMs0/0.jpg" alt="Essais d'armes 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/f7eavZEBP0k?si=kRV7jgk2Tqiz1ck6" src="https://img.youtube.com/vi/f7eavZEBP0k/0.jpg" alt="Essais d'armes 3">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/KB855lN2hsk?si=SLz8M4aFnfiIkrpM" src="https://img.youtube.com/vi/KB855lN2hsk/0.jpg" alt="Essais d'armes 4">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/5gIJQwJ2rJI?si=IaBrzb6N_26FyCKe" src="https://img.youtube.com/vi/5gIJQwJ2rJI/0.jpg" alt="Essais d'armes 5">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/neyjItspfmY?si=nwSbdvd5ALJojSgo" src="https://img.youtube.com/vi/neyjItspfmY/0.jpg" alt="Essais d'armes 6">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/vg1Q4bz1Jfw?si=xJmjX1nUS3Mzx6M3" src="https://img.youtube.com/vi/vg1Q4bz1Jfw/0.jpg" alt="Essais d'armes 7">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/lSH0O06UuHs?si=iAezvDm0EK59YNJg" src="https://img.youtube.com/vi/lSH0O06UuHs/0.jpg" alt="Armurerie Auxerre 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/FSxkypMLPgU?si=TTIXgF7fFDjDxvfH" src="https://img.youtube.com/vi/FSxkypMLPgU/0.jpg" alt="Armurerie Auxerre 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/QtGhDAQ4PkA?si=k2kh9-njaNs-UsNx" src="https://img.youtube.com/vi/QtGhDAQ4PkA/0.jpg" alt="Armurerie Auxerre 3">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/gMOSdqos06E?si=y_fCvDfdcSQAMuma" src="https://img.youtube.com/vi/gMOSdqos06E/0.jpg" alt="Armurerie Auxerre 4">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/x8IjDRg2mco?si=Lw7xt8sjS8E8JLrr" src="https://img.youtube.com/vi/x8IjDRg2mco/0.jpg" alt="Armurerie Auxerre 5">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/e-eWmE4z2jc?si=IR4sn3Wft2R8hHxB" src="https://img.youtube.com/vi/e-eWmE4z2jc/0.jpg" alt="Armurerie Auxerre 6">
  </div>

  <h2 id="section10">** Arbalète **</h2>
  <div class="frame">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/pvPe21jDt1Y?si=re8gLknRAQRpAjvh" src="https://img.youtube.com/vi/pvPe21jDt1Y/0.jpg" alt="Arbalète 1">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/WgCqGrsClVo?si=7_X9xkq2bZBTyFVk" src="https://img.youtube.com/vi/WgCqGrsClVo/0.jpg" alt="Arbalète 2">
    <img class="video-thumbnail" data-video="https://www.youtube.com/embed/l5UaZUn2QmU?si=nvSez6FsVGWZlSYc" src="https://img.youtube.com/vi/l5UaZUn2QmU/0.jpg" alt="Arbalète 3">
  </div>

  <!-- Modale pour afficher la vidéo -->
  <div id="video-modal" class="modal">
    <span class="close" (click)="closeModalTuto()">&times;</span>
    <iframe id="video-frame" width="560" height="315" allowfullscreen title="Lecteur vidéo youtube"></iframe>
  </div>

  <footer>
    <img src="../.././assets/images/footer5.png" alt="footer" style="width: 100%">
  </footer>
</div>
