<div class="container">

  <!-- <div class="question">
    <h2>{{ question1 }}</h2>
    <div
      *ngFor="let option of options1; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
      <input
        type="checkbox"
        id="option{{ i }}"
        (change)="toggleSelection(i, 1)"
      />
      <label for="option{{ i }}">{{ option.description }}</label>
    </div>
  </div> -->
  <div class="question">
    <h2>{{ question1 }}</h2>
    <div
      *ngFor="let option of options1; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
      <input type="checkbox" [checked]="selectedOptions1.has(i)" (click)="toggleSelection(i, 1, $event)" />
      <label>{{ option.description }}</label>
    </div>
  </div>
  

  <div class="question">
    <h2>{{ question2 }}</h2>
    <div
      *ngFor="let option of options2; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
    <input type="checkbox" [checked]="selectedOptions2.has(i)" (click)="toggleSelection(i, 2, $event)" />
      <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question3 }}</h2>
    <div
      *ngFor="let option of options3; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
    <input type="checkbox" [checked]="selectedOptions3.has(i)" (click)="toggleSelection(i, 3, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

   <div class="question">
    <h2>{{ question4 }}</h2>
    <div
      *ngFor="let option of options4; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
    <input type="checkbox" [checked]="selectedOptions4.has(i)" (click)="toggleSelection(i, 4, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

 <div class="question">
    <h2>{{ question5 }}</h2>
    <div
      *ngFor="let option of options5; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions5.has(i)" (click)="toggleSelection(i, 5, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question6 }}</h2>
    <div
      *ngFor="let option of options6; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions6.has(i)" (click)="toggleSelection(i, 6, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question7 }}</h2>
    <div
      *ngFor="let option of options7; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions7.has(i)" (click)="toggleSelection(i, 7, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question8 }}</h2>
    <div
      *ngFor="let option of options8; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions8.has(i)" (click)="toggleSelection(i, 8, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question9 }}</h2>
    <div
      *ngFor="let option of options9; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions9.has(i)" (click)="toggleSelection(i, 9, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question10 }}</h2>
    <div
      *ngFor="let option of options10; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
      <input type="checkbox" [checked]="selectedOptions10.has(i)" (click)="toggleSelection(i, 10, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question11 }}</h2>
    <div
      *ngFor="let option of options11; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions11.has(i)" (click)="toggleSelection(i, 11, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question12 }}</h2>
    <div
      *ngFor="let option of options12; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions12.has(i)" (click)="toggleSelection(i, 12, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question13 }}</h2>
    <div
      *ngFor="let option of options13; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions13.has(i)" (click)="toggleSelection(i, 13, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question14 }}</h2>
    <div
      *ngFor="let option of options14; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions14.has(i)" (click)="toggleSelection(i, 14, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question15 }}</h2>
    <div
      *ngFor="let option of options15; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
      <input type="checkbox" [checked]="selectedOptions15.has(i)" (click)="toggleSelection(i, 15, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question16 }}</h2>
    <div
      *ngFor="let option of options16; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions16.has(i)" (click)="toggleSelection(i, 16, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question17 }}</h2>
    <div
      *ngFor="let option of options17; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions17.has(i)" (click)="toggleSelection(i, 17, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question18 }}</h2>
    <div
      *ngFor="let option of options18; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
       <input type="checkbox" [checked]="selectedOptions18.has(i)" (click)="toggleSelection(i, 18, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question19 }}</h2>
    <div
      *ngFor="let option of options19; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
      <input type="checkbox" [checked]="selectedOptions19.has(i)" (click)="toggleSelection(i, 19, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

  <div class="question">
    <h2>{{ question20 }}</h2>
    <div
      *ngFor="let option of options20; let i = index"
      [ngClass]="{
        correct: option.selectedCorrectly === true,
        incorrect: option.selectedCorrectly === false
      }"
    >
      <input type="checkbox" [checked]="selectedOptions20.has(i)" (click)="toggleSelection(i, 20, $event)" />
    <label>{{ option.description }}</label>
    </div>
  </div>

<h3>Légende: rouge = réponse fausse, vert bonne réponse (une mauvaise réponse non cochée = vert)</h3>
<p>Exemple à la question: De quelle couleur est la neige ? si vous cochez blanc, blanc sera en vert, et noire et rouge en vert aussi si vous ne les avez pas cochées</p>
  <button (click)="submitAll()" class="submit-button">Vérifier</button>
  <div class="error-message">{{ totalErrorMessage }}</div>
</div>

<footer>
    <img src="https://knightparabellum.000webhostapp.com/img/footer5.png" alt="footer" style="width: 100%;">
   </footer>