<app-header></app-header>
<h1>Bienvenue /News</h1>

<div class="img">
  <img
    src="https://cdn.pixabay.com/photo/2019/10/04/18/34/bullets-4526265_1280.jpg"
    alt="image 9mm"
  />
</div>

<a href="https://www.armes-ufa.com/spip.php?article2939" class="lien-container">
<div class="container">
  <div class="texte">
    <p>Nouveau calendrier SIA</p>
    <p>
      Voici la toute nouvelle version (d’octobre 2023) du calendrier qui vient
      d’être communiquée aux préfectures et à certains clubs de tir.
    </p>
  </div>

  <div class="image">
    <img
      src="https://www.armes-ufa.com/local/cache-vignettes/L450xH266/arton2939-b606c.png"
      alt="image calendrier SIA"
    />
  </div>
</div>
</a>
