<app-banner></app-banner>
<app-header></app-header>
<app-burger-menu class="hidden"></app-burger-menu>
<h1>News</h1>

<a href="https://www.armes-ufa.com/spip.php?article2939" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Nouveau calendrier SIA</h2>
      <p>
        Voici la toute nouvelle version (d’octobre 2023) du calendrier qui vient
        d’être communiquée aux préfectures et à certains clubs de tir.
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.armes-ufa.com/local/cache-vignettes/L450xH266/arton2939-b606c.png"
        alt="image calendrier SIA"
        style="width: 150px"
      />
    </div>
  </div>
</a>

<a href="https://www.armes-ufa.com/spip.php?article1610" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Dimanche 10 mars 2024- PONT-de-BEAUVOISIN - Isère (38)</h2>
      <p>
        12ème bourse aux antiquités militaires et militaria Lieu : 8h30 à 16h30
        - Salle Polyvalente, route du Bugey - Pont de beauvoisin. - Entrée 3€,
        gratuit pour les moins de 13 ans ; - Petite restauration et buvette sur
        place ; - Parking ;
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.armes-ufa.com/local/cache-vignettes/L150xH214/affiche-94098-aa3af.png"
        alt="Affiche de la bourse"
      />
    </div>
  </div>
</a>
