.img{
  height: 30vh;
}

.img{
  display:flex;
  justify-content: center;
  margin-top: 7rem;
}
h1{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 428px){
  .img{
    display:flex;
    justify-content: center;
    margin-top: 4rem;
  }

}

@media screen and (max-width: 375px){
  .img{
    display:flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
