<h1>News</h1>

<a href="https://www.armes-ufa.com/spip.php?article3470" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Anarques : faux sites de vente d’armes</h2>
      <p>
        Les arnaques sont courantes sur internet, et le monde des armes est
        aussi touché. Dans cette page, nous avons répertorié quelques sites,
        mais vous pouvez toujours en avoir plus (...)
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.armes-ufa.com/local/cache-vignettes/L104xH104/rubon197-75722.jpg"
        alt="image voleurs style BD"
        style="width: 150px"
      />
    </div>
  </div>
</a>

<a href="https://www.armes-ufa.com/spip.php?article3473" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Cartouches : cigarettes ou munitions ?</h2>
      <p>
        Dans quelques temps, dans une boutique PMU-française des
        jeux-tabac-journaux, à côté des chewing-gums, du relais colis et du «
        snacking », les cartouches de chasse pourront (...)
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.armes-ufa.com/local/cache-vignettes/L241xH223/artoff3473-beb7a.png"
        alt="image boite cartouche, présentation paquet de cigarettes"
        style="width: 150px"
      />
    </div>
  </div>
</a>

<a href="https://www.armes-ufa.com/spip.php?article2939" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Nouveau calendrier SIA</h2>
      <p>
        Voici la toute nouvelle version (d’octobre 2023) du calendrier qui vient
        d’être communiquée aux préfectures et à certains clubs de tir.
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.armes-ufa.com/local/cache-vignettes/L450xH266/arton2939-b606c.png"
        alt="image calendrier SIA"
        style="width: 150px"
      />
    </div>
  </div>
</a>

<a href="https://www.armes-ufa.com/spip.php?article1610" class="lien-container">
  <div class="container">
    <div class="texte">
      <h2>Dimanche 10 mars 2024- PONT-de-BEAUVOISIN - Isère (38)</h2>
      <p>
        12ème bourse aux antiquités militaires et militaria Lieu : 8h30 à 16h30
        - Salle Polyvalente, route du Bugey - Pont de beauvoisin. - Entrée 3€,
        gratuit pour les moins de 13 ans ; - Petite restauration et buvette sur
        place ; - Parking ;
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.armes-ufa.com/local/cache-vignettes/L150xH214/affiche-94098-aa3af.png"
        alt="Affiche de la bourse"
      />
    </div>
  </div>
</a>

<footer>
  <!-- <img src="https://knightparabellum.000webhostapp.com/img/footer.png" alt="footer" style="width: 100%;"> -->
  <img
    src="https://knightparabellum.000webhostapp.com/img/footer5.png"
    alt="footer"
    style="width: 100%"
  />
</footer>
