<div class="wrapper">
  <div class="">
    <div class="slogan">
      <h1>Tir sportif : la précision et l'attention</h1>
    </div>
    <div></div>
  </div>
  <div class="container">
    <div class="texte">
      <h2>Le tir sportif, c'est pour tous</h2>
      <p>
        Le tir sportif est une discipline exigeante qui allie concentration,
        maîtrise de soi et précision. Les tireurs s'efforcent d'atteindre des
        cibles placées à diverses distances, en utilisant des armes à feu ou à
        air comprimé. Cette activité requiert un entraînement rigoureux pour
        perfectionner la technique de tir, la posture et la coordination. Les
        compétitions de tir sportif peuvent varier en termes de distances, de
        types d'armes et de modalités de compétition. En plus de développer des
        compétences techniques, le tir sportif favorise le fair-play, le respect
        des règles et le contrôle émotionnel. C'est un sport qui demande à la
        fois précision et maîtrise de soi, contribuant ainsi à l'épanouissement
        personnel des pratiquants.
      </p>
      <h2>Pourquoi ce site ?</h2>
      <p>
        Pour disposer d'un site "couteau suisse" qui vous aidera à tout savoir pour débuter dans le tir sportif.
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.sports.gouv.fr/sites/default/files/2022-08/pistolet-25m-c-bessaguet-fftir-f-perville-jpg-466.jpg"
        alt="Tireur 25m"
        style="width: 500px"
      />
    </div>
  </div>
  <div class="">
    <div class="frame">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/e77SohoxgoY?si=GMdCHHeBEg6nadPe"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>


    </div>
  </div>

  <div class="container">
    <div class="texte">
      <h2>Le tir à 10 mètres :</h2>
      <p>
        Le tir sportif à 10 mètres est une discipline olympique qui consiste à tirer sur une cible située à 10 mètres de distance. Les armes utilisées sont des pistolets à air comprimé ou des carabines à air comprimé.

Le tir à 10 mètres est une discipline qui demande une grande précision et une concentration extrême. Les tireurs doivent être capables de contrôler leur respiration et leur mouvement pour placer leurs coups au centre de la cible.

Il existe deux catégories de compétition en tir à 10 mètres : le tir de précision et le tir de vitesse.

Le tir de précision est la discipline la plus courante. Les tireurs ont 60 secondes pour tirer 60 coups sur la cible. Le score est calculé en fonction de la distance entre le centre des impacts et le centre de la cible.

Le tir de vitesse est une discipline plus récente. Les tireurs ont 10 secondes pour tirer 10 coups sur la cible. Le score est calculé en fonction du nombre de coups qui touchent la cible.

Le tir sportif à 10 mètres est une discipline qui demande beaucoup de pratique et de discipline. Elle offre cependant aux tireurs un sentiment de satisfaction et d'accomplissement unique.

Voici quelques avantages du tir sportif à 10 mètres :

C'est un sport qui demande de la précision et de la concentration. Ces qualités sont utiles dans de nombreux domaines de la vie, tels que le travail, les études ou la vie quotidienne.
C'est un sport qui peut être pratiqué à tous les âges. Il est accessible aux débutants comme aux experts.
C'est un sport qui est sûr et encadré par des règles strictes. Les tireurs doivent suivre une formation théorique et pratique avant de pouvoir pratiquer ce sport.
Si vous êtes intéressé par le tir sportif à 10 mètres, il existe de nombreux clubs en France qui proposent des initiations et des cours
      </p>
    </div>

    <div class="image">
      <img
        src="https://cdn-s-www.leprogres.fr/images/C4FD377E-2F73-4EA7-8110-A0023A194F97/NW_detail/au-premier-plan-coline-gallien-(sees)-premiere-en-d1-et-paul-chevalier-du-stsm-(2e-en-s1)-durant-leur-match-pistolet-vitesse-photo-progres-antoine-quinson-1639345811.jpg"
        alt="Tireurs 10 mètres"
        style="width: 500px"
      />
    </div>
  </div>
<div class="frame">
  <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/-V2LfyiDaJY?si=t9ZnXpZWzdeNPEXW"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>
</div>
</div>
<footer>
  <!-- <img src="https://knightparabellum.000webhostapp.com/img/footer.png" alt="footer" style="width: 100%;"> -->
  <img
    src="https://knightparabellum.000webhostapp.com/img/footer5.png"
    alt="footer"
    style="width: 100%"
  />
</footer>
