<div class="wrapper">
  <div class="">
    <div class="slogan">
      <h1>Tir sportif : la précision et l'attention</h1>
    </div>
    <div></div>
  </div>
  <div class="container">
    <div class="texte">
      <h2>Le tir sportif, c'est pour tous</h2>
      <p>
        Le tir sportif est une discipline exigeante qui allie concentration,
        maîtrise de soi et précision. Les tireurs s'efforcent d'atteindre des
        cibles placées à diverses distances, en utilisant des armes à feu ou à
        air comprimé. Cette activité requiert un entraînement rigoureux pour
        perfectionner la technique de tir, la posture et la coordination. Les
        compétitions de tir sportif peuvent varier en termes de distances, de
        types d'armes et de modalités de compétition. En plus de développer des
        compétences techniques, le tir sportif favorise le fair-play, le respect
        des règles et le contrôle émotionnel. C'est un sport qui demande à la
        fois précision et maîtrise de soi, contribuant ainsi à l'épanouissement
        personnel des pratiquants.
      </p>
      <h2>Pouquoi ce site ?</h2>
      <p>
        Pour disposer d'un site "couteau suisse" qui vous aidera à tout savoir pour débuter dans le tir sportif.
      </p>
    </div>

    <div class="image">
      <img
        src="https://www.sports.gouv.fr/sites/default/files/2022-08/pistolet-25m-c-bessaguet-fftir-f-perville-jpg-466.jpg"
        alt="Tireur 25m"
        style="width: 500px"
      />
    </div>
  </div>
  <div class="">
    <div class="frame">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/e77SohoxgoY?si=GMdCHHeBEg6nadPe"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/-V2LfyiDaJY?si=t9ZnXpZWzdeNPEXW"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<footer>
  <!-- <img src="https://knightparabellum.000webhostapp.com/img/footer.png" alt="footer" style="width: 100%;"> -->
  <img
    src="https://knightparabellum.000webhostapp.com/img/footer5.png"
    alt="footer"
    style="width: 100%"
  />
</footer>
