<div class="wrapper">
  <div class="search">
    <input type="text" [(ngModel)]="query" (input)="onSearch()" placeholder="Recherche...">
    <ul>
      <li *ngFor="let result of results" (click)="navigateTo(result)">
        {{ result.text }}
      </li>
    </ul>
  </div>
  <div class="slogan">
    <h1>Tir sportif : la précision et l'attention</h1>
  </div>
  <div class="container">
    <div class="texte">
      <h2>Le tir sportif, c'est pour tous</h2>
      <p>
        Le tir sportif est une discipline exigeante qui allie concentration,
        maîtrise de soi et précision. Les tireurs s'efforcent d'atteindre des
        cibles placées à diverses distances, en utilisant des armes à feu ou à
        air comprimé. Cette activité requiert un entraînement rigoureux pour
        perfectionner la technique de tir, la posture et la coordination. Les
        compétitions de tir sportif peuvent varier en termes de distances, de
        types d'armes et de modalités de compétition. En plus de développer des
        compétences techniques, le tir sportif favorise le fair-play, le respect
        des règles et le contrôle émotionnel. C'est un sport qui demande à la
        fois précision et maîtrise de soi, contribuant ainsi à l'épanouissement
        personnel des pratiquants.
      </p>
      <h2>Pourquoi ce site ?</h2>
      <p>
        Pour disposer d'un site "couteau suisse" qui vous aidera à tout savoir
        pour débuter dans le tir sportif.
      </p>
    </div>
    <div class="image">
      <img
        src="https://www.sports.gouv.fr/sites/default/files/2022-08/pistolet-25m-c-bessaguet-fftir-f-perville-jpg-466.jpg"
        alt="Tireur 25m"
        style="width: 65vh; max-width: 500px"
      />
    </div>
  </div>
  <div class="frame">
    <img
    class="video-thumbnail"
    src="https://img.youtube.com/vi/e77SohoxgoY/0.jpg"
    data-video="https://www.youtube.com/embed/e77SohoxgoY?si=GMdCHHeBEg6nadPe"
    alt="Vidéo YouTube sur le tir à 25 mètres"
    (click)="openVideoWindow('https://www.youtube.com/embed/e77SohoxgoY?si=GMdCHHeBEg6nadPe')"
  />
  </div>

  <div class="container">
    <div class="texte">
      <h2>Le tir à 10 mètres :</h2>

      <p>
        Le tir sportif à 10 mètres est une discipline populaire pratiquée à
        travers le monde, notamment aux Jeux Olympiques. Voici quelques points
        clés à savoir à son sujet :
      </p>

      <p>
        1. <strong>Distance et cible :</strong> Comme son nom l'indique, le tir
        sportif à 10 mètres se déroule à une distance de 10 mètres entre le
        tireur et la cible. La cible est généralement une carte de papier avec
        des cercles concentriques de différentes tailles, chacun attribuant un
        nombre de points différent.
      </p>

      <p>
        2. <strong>Armes :</strong> Les armes utilisées dans cette discipline
        sont principalement des pistolets à air comprimé ou des carabines à air
        comprimé. Ces armes sont spécialement conçues pour le tir de précision à
        courte distance.
      </p>

      <p>
        3. <strong>Précision et concentration :</strong> Le tir sportif à 10
        mètres exige un haut niveau de précision, de concentration et de
        maîtrise de la respiration. Les tireurs doivent rester calmes et stables
        pour obtenir les meilleurs résultats.
      </p>

      <p>
        4. <strong>Positions de tir :</strong> Les tireurs peuvent adopter
        différentes positions de tir, telles que la position debout, la position
        couchée ou la position à genoux, en fonction de leur préférence et de la
        discipline spécifique dans laquelle ils concourent.
      </p>

      <p>
        5. <strong>Compétitions :</strong> Le tir sportif à 10 mètres est
        souvent pratiqué lors de compétitions locales, nationales et
        internationales. Les compétitions peuvent inclure une variété
        d'épreuves, telles que le tir à la carabine et le tir au pistolet, avec
        différentes catégories d'âge et de sexe.
      </p>

      <p>
        6. <strong>Règles et réglementations :</strong> Comme pour toute
        discipline sportive, le tir sportif à 10 mètres est régi par des règles
        et des réglementations strictes pour assurer la sécurité des
        participants et garantir des conditions de compétition équitables.
      </p>

      <p>
        En résumé, le tir sportif à 10 mètres est une discipline exigeante qui
        allie précision, concentration et maîtrise de soi, et qui attire des
        compétiteurs de tous âges et de tous niveaux de compétence à travers le
        monde.
      </p>
    </div>
    <div class="image">
      <img
        src="https://cdn-s-www.leprogres.fr/images/C4FD377E-2F73-4EA7-8110-A0023A194F97/NW_detail/au-premier-plan-coline-gallien-(sees)-premiere-en-d1-et-paul-chevalier-du-stsm-(2e-en-s1)-durant-leur-match-pistolet-vitesse-photo-progres-antoine-quinson-1639345811.jpg"
        alt="Tireurs 10 mètres"
        style="width: 65vh; max-width: 500px"
      />
    </div>
  </div>

  <div class="frame">
    <img
    class="video-thumbnail"
    src="https://img.youtube.com/vi/SIBnactZ4-A/0.jpg"
    data-video="https://www.youtube.com/embed/SIBnactZ4-A?si=XXKtFdhBrfX7Zluf"
    alt="Vidéo YouTube sur le tir à 10 mètres"
    (click)="openVideoWindow('https://www.youtube.com/embed/SIBnactZ4-A?si=XXKtFdhBrfX7Zluf')"
  />
  </div>

  <div class="container">
    <div class="texte">
      <h2>Le tir à poudre noire :</h2>
      <p>
        Le tir sportif à poudre noire est une discipline fascinante qui combine
        la précision technique avec l'histoire des armes à feu. Voici quelques
        points clés à mentionner sur le tir sportif à poudre noire :
      </p>

      <p>
        1. <strong>Histoire et Tradition :</strong> Le tir à la poudre noire a
        des racines profondes dans l'histoire des armes à feu. Les premières
        armes à feu utilisaient la poudre noire comme propulseur, et le tir
        sportif à poudre noire permet aux passionnés de revivre cette époque.
      </p>

      <p>
        2. <strong>Armes Utilisées :</strong> Les armes à poudre noire peuvent
        inclure des revolvers, des pistolets, des carabines et même des fusils
        de chasse. Ces armes sont souvent des reproductions fidèles d'armes
        historiques.
      </p>

      <p>
        3. <strong>Équipement Spécifique :</strong> Les tireurs utilisent un
        équipement spécifique, y compris des poudres noires, des amorces, des
        balles en plomb, et d'autres accessoires. La manipulation de ces
        matériaux nécessite une connaissance approfondie des techniques de
        chargement.
      </p>

      <p>
        4. <strong>Précision Technique :</strong> Le tir sportif à poudre noire
        met l'accent sur la précision et la maîtrise technique. Les tireurs
        doivent être capables de charger correctement leurs armes, ajuster leurs
        viseurs, et exécuter des techniques de tir précises pour obtenir des
        résultats optimaux.
      </p>

      <p>
        5. <strong>Compétitions :</strong> Il existe de nombreuses compétitions
        dédiées au tir sportif à poudre noire, allant de simples rencontres
        locales à des championnats nationaux et internationaux. Les disciplines
        incluent souvent des épreuves de précision à différentes distances.
      </p>

      <p>
        6. <strong>Communauté Passionnée :</strong> Les amateurs de tir sportif
        à poudre noire forment souvent une communauté passionnée. Les événements
        et les rencontres sont l'occasion de partager des connaissances, des
        astuces et de célébrer la passion commune pour cette discipline.
      </p>

      <p>
        7. <strong>Sécurité :</strong> Comme pour toute activité liée aux armes
        à feu, la sécurité est une priorité absolue dans le tir sportif à poudre
        noire. Les tireurs suivent des protocoles stricts pour assurer la
        sécurité de tous les participants.
      </p>

      <p>
        8. <strong>Accessibilité :</strong> Bien que cela puisse sembler être
        une discipline spécialisée, le tir sportif à poudre noire est accessible
        à un large éventail de personnes, des débutants aux experts. Les clubs
        et les associations accueillent souvent de nouveaux membres et offrent
        des formations pour les débutants.
      </p>

      <p>
        En résumé, le tir sportif à poudre noire est bien plus qu'une simple
        activité sportive. Il offre une immersion dans l'histoire des armes à
        feu tout en mettant en avant des compétences techniques et une
        communauté passionnée.
      </p>
    </div>
    <div class="image">
      <img
        src="https://www.fftir.org/wp-content/uploads/2020/02/48054336433_2a8ffd2ef6_c.jpg"
        alt="Tireurs pistolet à poudre noire"
        style="width: 65vh; max-width: 500px"
      />
    </div>
  </div>

  <div class="frame">
    <img
    class="video-thumbnail"
    src="https://img.youtube.com/vi/I6ETYpceIKk/0.jpg"
    data-video="https://www.youtube.com/embed/I6ETYpceIKk?si=fEzy__DCGqzLNxeg"
    alt="Vidéo YouTube sur le tir à poudre noire"
    (click)="openVideoWindow('https://www.youtube.com/embed/I6ETYpceIKk?si=fEzy__DCGqzLNxeg')"
  />
  </div>

  <div class="container">
    <div class="texte">
      <h2>Le Tir aux Armes Réglementaires :</h2>
      <p>
        Le Tir aux Armes Règlementaires (TAR) est une discipline de tir sportif
        qui met l'accent sur l'utilisation d'armes à feu réglementaires, souvent
        des armes historiques ou militaires. Voici quelques points clés à
        connaître sur le tir sportif TAR :
      </p>

      <p>
        1. <strong>Armes Règlementaires :</strong> Les compétitions de tir
        sportif TAR impliquent l'utilisation d'armes à feu qui ont été utilisées
        ou réglementées par des forces militaires à un moment donné de
        l'histoire. Cela peut inclure des fusils, des pistolets et des
        revolvers.
      </p>

      <p>
        2. <strong>Éléments Historiques :</strong> Le TAR vise à recréer des
        conditions de tir qui sont similaires à celles rencontrées par les
        militaires lorsqu'ils utilisaient ces armes. Les participants peuvent
        être amenés à tirer dans des positions spécifiques ou à des distances
        caractéristiques de l'époque de service de l'arme.
      </p>

      <p>
        3. <strong>Catégories d'Armes :</strong> Les compétitions de TAR sont
        souvent divisées en différentes catégories d'armes, telles que les armes
        à feu de la Première et de la Seconde Guerre mondiale. Cela permet aux
        participants de concourir avec des armes similaires, ajoutant une
        dimension historique à la compétition.
      </p>

      <p>
        4. <strong>Précision et Rapidité :</strong> Les épreuves de tir TAR
        peuvent inclure des exercices de précision ainsi que des épreuves
        chronométrées, testant à la fois la capacité du tireur à frapper des
        cibles avec précision et sa rapidité d'exécution.
      </p>

      <p>
        5. <strong>Positions de Tir :</strong> Les participants au TAR peuvent
        être appelés à tirer depuis différentes positions, telles que debout,
        agenouillé, ou couché, en fonction des pratiques militaires historiques.
      </p>

      <p>
        6. <strong>Organisation de Compétitions :</strong> Les compétitions TAR
        sont souvent organisées par des clubs de tir sportif ou des associations
        spécialisées. Ces événements peuvent varier en taille, allant de
        compétitions locales à des championnats nationaux ou internationaux.
      </p>

      <p>
        7. <strong>Accessibilité :</strong> Le TAR attire un large éventail de
        participants, des amateurs d'armes historiques aux passionnés d'histoire
        militaire. Il offre une occasion unique de combiner la passion pour les
        armes à feu avec un engagement pour l'histoire.
      </p>

      <p>
        8. <strong>Règles Strictes :</strong> Comme dans tout sport de tir, le
        TAR est régi par des règles strictes pour assurer la sécurité des
        participants et la juste compétition. Les règles spécifiques peuvent
        varier en fonction des organisations et des compétitions.
      </p>

      <p>
        En résumé, le tir sportif aux armes règlementaires est une discipline
        qui mélange habilement l'amour de l'histoire militaire avec la précision
        technique du tir sportif, offrant aux participants une expérience unique
        qui transcende le simple aspect compétitif.
      </p>
    </div>
    <div class="image">
      <img
        src="https://www.armes-ufa.com/local/cache-vignettes/L241xH134/rubon87-1cc1c.jpg"
        alt="Tireurs en position de tir aux armes règlementaires"
        style="width: 65vh; max-width: 500px"
      />
    </div>
  </div>

  <div class="frame">
    <img
      class="video-thumbnail"
      src="https://img.youtube.com/vi/xsYgxtmzXn4/0.jpg"
      data-video="https://www.youtube.com/embed/xsYgxtmzXn4?si=JxS1Tp_c7XSaero2"
      alt="Vidéo YouTube sur le tir à armes règlementaires"
      (click)="openVideoWindow('https://www.youtube.com/embed/xsYgxtmzXn4?si=JxS1Tp_c7XSaero2')"
    />
  </div>

  <div class="frame">
    <img
    class="video-thumbnail"
    src="https://img.youtube.com/vi/-V2LfyiDaJY/0.jpg"
    data-video="https://www.youtube.com/embed/-V2LfyiDaJY?si=t9ZnXpZWzdeNPEXW"
    alt="Vidéo YouTube sur comment obtenir une licence de tir"
    (click)="openVideoWindow('https://www.youtube.com/embed/-V2LfyiDaJY?si=t9ZnXpZWzdeNPEXW')"
  />
  </div>

  <!-- <div *ngIf="pwaInstallService.canPrompt()" class="install-banner">
    <p>Voulez-vous installer cette application ?</p>
    <div class="button-group">
    <button class="install-button" (click)="pwaInstallService.promptInstall()">Installer</button>
    <button class="reject-button" (click)="rejectPwa()">Refuser</button>
    </div>
  </div> -->

  <!-- Modale pour afficher la vidéo
  <div id="video-modal" class="modal">
    <span class="close" (click)="closeModal()">&times;</span>
    <iframe id="video-frame" allowfullscreen title="Lecteur vidéo youtube"></iframe>
  </div> -->

</div>
<footer>
  <a href="https://www.denicher.com">référencement</a>
  <img src="../.././assets/images/footer5.png" alt="footer" style="width: 100%" />
</footer>
