.container,
.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}

.cible {
  display: flex;
  justify-content: center;
}
.cible img {
  width: 50rem;
}

@media screen and (max-width: 934px) {
  .container,
  .container2 {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 10vh;
  }
}
@media screen and (max-width: 699px) {
  .container,
  .container2 {
    display: flex;
    flex-direction: column;
  }
  .img,
  .img2,
  .img3,
  .img4 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  .cible {
    display: none;
  }
  img {
    width: 15vh;
  }
}

@media screen and (max-width: 544px) {
  .container,
  .container2 {
    display: flex;
    flex-direction: column;
  }

  .img,
  .img2,
  .img3,
  .img4 {
    display: flex;
    justify-content: center;
  }

  // img {
  //   width: 15vh;
  // }
}
