<h1>
  Les armureries
</h1>

<div class="container">
  <div class="img">
    <a href="https://www.armesconcept.fr">
      <img
        src="../.././assets/images/logo1.png"
        alt="Armes concept, armurerie"
        style="width: 225px"
      />
    </a>

    <a href="https://www.armurerie-gilles.com">
      <img
        src="https://www.armurerie-gilles.com/images/logo_arg.png"
        alt="Gilles armurerie"
        style="width: 225px"
      />
    </a>

    <a href="https://www.leydier-armurerie.fr">
      <img
        src="https://www.leydier-armurerie.fr/ressources/images/d9d932b68adc.png"
        alt="Armurerie Leydier"
        style="width: 225px"
      />
    </a>

    <a href="https://www.armurerie-francaise.com/">
      <img src="../.././assets/images/logo4.png" alt="Armurerie Francaise"
      style="width: 225px"
      />
    </a>

    <a href="https://www.armurerie-loisir.fr/">
      <img
        src="https://www.armurerie-loisir.fr/img/logo-1.jpg?1688655206"
        alt="Armurerie loisir"
        style="width: 225px"
      />
    </a>

    <a href="https://air-soft.gun-evasion.com">
      <img
        src="https://air-soft.gun-evasion.com/themes/html_responsive/modeles/58/img/logo/logo_header_1.png"
        alt="Air soft"
        style="width: 225px"
      />
    </a>

    <a
        href="https://www.armurerie-chasseur.com/vente-chasse-equipement-de-l-arme-coffres-armoires-fortes-rateliers-3468,0,0,0.html"
      >
        <img
          src="https://static.armurerie-chasseur.com/responsive/chasseur/dist-img/logo/Logo-Chasseur-Armurerie.png"
          alt="Armurerie chasseur"
          style="width: 225px"
        />
      </a>


    <a href="https://www.hc-collection.com/calibre-44-c102x3581892">
      <img
        src="../.././assets/images/logoHC.png"
        alt="H&C"
        style="width: 225px"
      />
    </a>

    <a href="https://www.armurerie-auxerre.com/">
      <img
        src="https://www.armurerie-auxerre.com/static/version1699536173/frontend/Armamag/default/fr_FR/images/logo.svg
        "
        alt="armurerie-auxerre"
        style="width: 225px"
      />
    </a>

    <a href="https://www.armurerie-lavaux.com/index.php">
      <img
        src="https://www.armurerie-lavaux.com/images/logo-lavaux.png
        "
        alt="armurerie-lavaux"
        style="width: 225px"
      />
    </a>

    <a href="https://www.westernguns.fr/">
      <img
        src="http://www.westernguns.fr//themes/westernguns/img/wg/logo-refonte.png
        "
        alt="westernguns"
        style="width: 225px"
      />
    </a>

    <a href="https://armurerie-tir-au-plomb.com/">
      <img
        src="https://armurerie-tir-au-plomb.com/img/atap-theme-logo-1508853210.jpg
        "
        alt="armurerie-tir-au-plomb"
        style="width: 225px"
      />
    </a>
  </div>
</div>
<footer>
 <img src="https://knightparabellum.000webhostapp.com/img/footer5.png" alt="footer" style="width: 100%;">
</footer>
