h1 {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2vh;

}

.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Pour espacer les images horizontalement */
  align-items: center;
}

.img img {
  max-width: 100%; /* Pour s'assurer que les images ne dépassent pas la largeur de l'écran */
  margin: 10px; /* Espacement entre les images */
}
img{
  width: 35vh;
}
