<app-banner></app-banner>
<app-header></app-header>
<app-burger-menu></app-burger-menu>
<div class="bloc">
  <div class="container">
    <div class="img">
      <a href="https://www.armesconcept.fr">
        <img
          src="../.././assets/images/logo1.png"
          alt="Armes concept, armurerie" style="width: 225px;"
        />
      </a>
    </div>

    <div class="img2">
      <a href="https://www.armurerie-gilles.com">
        <img
          src="https://www.armurerie-gilles.com/images/logo_arg.png"
          alt="Gilles armurerie" style="width: 225px;"
        />
      </a>
    </div>

    <div class="img3">
      <a href="https://www.leydier-armurerie.fr">
        <img
          src="https://www.leydier-armurerie.fr/ressources/images/d9d932b68adc.png"
          alt="Armurerie Leydier" style="width: 225px;"
        />
      </a>
    </div>

    <div class="img4">
      <a href="https://www.armurerie-francaise.com/">
        <img src="../.././assets/images/logo4.png" alt="Armurerie Francaise" />
      </a>
    </div>
  </div>

  <div class="container2">
    <div class="img">
      <a href="https://www.armurerie-loisir.fr/">
        <img
          src="https://www.armurerie-loisir.fr/img/logo-1.jpg?1688655206"
          alt="Armurerie loisir" style="width: 225px;"
        />
      </a>
    </div>

    <div class="img2">
      <a href="https://air-soft.gun-evasion.com">
        <img
          src="https://air-soft.gun-evasion.com/themes/html_responsive/modeles/58/img/logo/logo_header_1.png"
          alt="Air soft" style="width: 170px;;"
        />
      </a>
    </div>

    <div class="img3">
      <a href="https://www.armurerie-chasseur.com/vente-chasse-equipement-de-l-arme-coffres-armoires-fortes-rateliers-3468,0,0,0.html">
        <img
          src="https://static.armurerie-chasseur.com/responsive/chasseur/dist-img/logo/Logo-Chasseur-Armurerie.png"
          alt="Armurerie chasseur" style="width: 225px;"
        />
      </a>
    </div>

    <div class="img4">
      <a href="https://www.hc-collection.com/calibre-44-c102x3581892">
        <img src="../.././assets/images/logoHC.png" alt="Armurerie Francaise" style="width: 225px;"
        />
      </a>
    </div>
  </div>
</div>
<div class="cible">
  <img src="../.././assets/images/cible.png" alt="Image d'une cible C50" />
</div>
