<!--
  <div>
    <label for="typeDeReglage">Type de Réglage:</label>
    <select id="typeDeReglage" [(ngModel)]="typeDeReglage" (change)="onTypeDeReglageChange()">
      <option value="1/8 MOA">1/8 MOA</option>
      <option value="1/4 MOA">1/4 MOA</option>
      <option value="1/2 MOA">1/2 MOA</option>
      <option value="1 MOA">1 MOA</option>
    </select>
  </div>

  <div>
    <label for="distance">Distance:</label>
    <input type="number" id="distance" [(ngModel)]="distance" (change)="onDistanceChange()">
  </div>

  <div>
    <label for="ecart">Ecart:</label>
    <input type="number" id="ecart" [(ngModel)]="ecart" (change)="onEcartChange()">
  </div>

  <p>Nombre de Clics: {{ nombreDeClics }}</p> -->

  <!-- <div>
    <label for="distance">Distance (mètres) :</label>
    <input type="number" id="distance" [(ngModel)]="distance" />

    <label for="uniteMesure">Unité de mesure :</label>
    <select id="uniteMesure" [(ngModel)]="uniteMesure">
      <option value="moa">MOA</option>
      <option value="metrique">Métrique</option>
    </select>

    <label for="typeReglage">Type de réglage :</label>
    <select id="typeReglage" [(ngModel)]="typeReglage">
      <option value="1moa">1 MOA</option>
      <option value="1/2moa">1/2 MOA</option>
      <option value="1/4moa">1/4 MOA</option>
      <option value="1/8moa">1/8 MOA</option>
    </select>

    <button (click)="calculerCorrection()">Calculer Correction</button>

    <p>Résultat de la correction : {{ correction }} mètres</p>
  </div> -->

  <div>
    <label for="distance">Distance (mètres) :</label>
    <input type="number" id="distance" [(ngModel)]="distance" />

    <label for="uniteMesure">Unité de mesure :</label>
    <select id="uniteMesure" [(ngModel)]="uniteMesure">
      <!-- <option value="moa">MOA</option> -->
      <option value="metrique">Métrique</option>
    </select>

    <label for="typeReglage">Type de réglage :</label>
    <select id="typeReglage" [(ngModel)]="typeReglage">
      <option value="1moa">1 MOA</option>
      <option value="1/2moa">1/2 MOA</option>
      <option value="1/4moa">1/4 MOA</option>
      <option value="1/8moa">1/8 MOA</option>
      <option value="1/10moa">1/10 MOA</option>
    </select>

    <label for="ecartACorriger">Écart à corriger (cm) :</label>
    <input type="number" id="ecartACorriger" [(ngModel)]="ecartACorriger" />

    <button (click)="calculerCorrection()">Calculer Correction</button>

    <p>Correction par click: {{ correction }} cm</p>
    <p>Nombre de clics nécessaires : {{ nombreClics }} clics</p>
  </div>
