.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

img {
  max-width: 20%;
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

h2 {
  animation: blink 2s infinite; /* durée animation */
  color: red;
  font-size: 1.5rem;
  max-width: 400px;
  margin: auto;
  padding: 30px;
}
