<div class="burger" (click)="toggleMenu()">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>

<div class="menu" [ngClass]="{ open: isMenuOpen }">
  <div class="close-button" (click)="toggleMenu()">
    <div class="close-icon">X</div>
  </div>
  <ul>
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/armory">Armureries</a></li>
    <li><a routerLink="/link">Liens</a></li>
    <li><a routerLink="/gallery">Gallerie</a></li>
    <li><a routerLink="/frame">Bétisier</a></li>
    <li><a routerLink="/unadopted">En travaux</a></li>
  </ul>
</div>
